* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(62, 119, 168);
}

.container {
    margin: 40px;
    padding: 4%;
    background-color: rgba(226, 218, 207, 0.452);
    border-radius: 15px;
    box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.75)
}

h3,
h1,
h4 {
    text-align: center;
    margin: 20px;
}

h3 {
    font-size: 50px;
}

.buttons > button {
    padding: 10px;
    margin: 10px 20px;
    border-radius: 5px;
    background-color: rgb(119, 235, 177);
}

.buttons > button:hover {
    background-color: rgb(131, 206, 150);
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}